.recreate-password-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.recreate-password-box{
    min-height: 50%;
    min-width: 35%;
    border: 1px solid gray;
    border-radius: 7px;
}
.recreate-box-registr{
    width: 80%;
    margin: auto;
    padding: 14px 0;

}
.introduction-recreate-password{
    font-weight: 400;
    margin: 10px 0;
}
.recreate-password-form > div{
    margin: 20px 0;
}
.recreate-password-form  input{
    outline: none;
    width: 99%;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.recreate-password-form  input:focus{
    box-shadow: 0px 0px 10px orangered;
    border: 1px solid orangered;
}
.btn-continue-recreate-password{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 22px;
    cursor: pointer;
    background-color: rgb(255, 200, 97);
}
.btn-continue-recreate-password:hover{
    background-color: rgb(255, 192, 75);
}
.btn-continue-recreate-password:focus{
    background-color: rgb(211, 211, 211);
    box-shadow: 0px 0px 15px orangered;
}
.text-condition-recreate-password{
    color: dodgerblue;
}
.text-condition-recreate-password:hover{
    color: orangered;
    cursor: pointer;
    text-decoration: underline;
}
